$mainColor:#ff0000;
$txtColor:#fff;
$bodyBg:#0f0f0f;

$white:#fff;
$black:#000;


$boxShadow:rgba(76, 76, 88, 0.7) 0 5px 10px 2px;
$headerHeight:4rem;
$headerShinkHeight:5rem;
$borderRadius:30px;
$mobileWidth:600px;
$tabletWidth:1024px;
$fontFamily:"Montserrat",sans-serif;
$marginRight:20px;